<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

Name: <%= @user.name %>
Mood: <%= @user.mood %>
Happiness: <%= @user.happiness %>
Height: <%= @user.height %>
Tickets: <%= @user.tickets %>
<%= link_to "Log Out", session_path, method: :delete %>
<%= link_to "See attractions", attractions_path %>
